<div class="container">
    <div class="row">
        <div class="col">
            @foreach (var categoria in ((List<Categoria>)ViewBag.Categorias).Where(x => x.Id < 10))
            {
                <table class="table-sm table-bordered">                      
                    <thead>
                        <tr>
                            <th colspan="3">@categoria.Descricao</th>
                        </tr>
                    </thead>
                    @foreach (var contas in ((List<Conta>)ViewBag.Contas).Where(c => c.CategoriaId == categoria.Id))
                    {
                        <tbody>
                            <tr>
                                <td>@contas.Codigo</td>
                                <td>@contas.Descricao</td>
                                <td></td>
                            </tr>
                        </tbody>
                    }
                </table>
            }
        </div>
        <div class="col">
            @foreach (var categoria in ((List<Categoria>)ViewBag.Categorias).Where(c => c.Id >= 10 && c.Id <= 19))
            {
            <table class="table-sm table-bordered">
                <thead>
                    <tr>
                        <th colspan="3">@categoria.Descricao</th>
                    </tr>
                </thead>
                @foreach (var contas in ((List<Conta>)ViewBag.Contas).Where(c => c.CategoriaId == categoria.Id))
                {
                    <tbody>
                        <tr>
                            <td>@contas.Codigo</td>
                            <td>@contas.Descricao</td>
                            <td></td>
                        </tr>
                    </tbody>
                }
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>

            </table>
            }
        </div>
        <div class="col">
            @foreach (var categoria in ((List<Categoria>)ViewBag.Categorias).Where(c => c.Id > 19))
            {
                <table class="table-sm table-bordered">
                        <thead>
                            <tr>
                                <th colspan="3">@categoria.Descricao</th>
                            </tr>
                        </thead>
                    @foreach (var contas in ((List<Conta>)ViewBag.Contas).Where(c => c.CategoriaId == categoria.Id))
                    {
                        <tbody>
                            <tr>
                                <td>@contas.Codigo</td>
                                <td>@contas.Descricao</td>
                                <td></td>
                            </tr>
                        </tbody>
                    }

                </table>
            }
        </div>
    </div>
</div>


<!-- foreach (var categoria in (List<Categoria>)ViewBag.Categorias)
     {-->
<!-- /*switch (categoria.Id)
    {
    case 1:
    foreach (var contas in (List<Conta>
        )ViewBag.Contas)
        {
        if (contas.Categoria.Id == 1)
        {
        <tbody>
            <tr>
                <td>contas.Codigo</td>
                <td>contas.Descricao</td>
                <td></td>
            </tr>
        </tbody>
        }
        }
        break;
        case 2:
        foreach (var contas in (List<Conta>
            )ViewBag.Contas)
            {
            if (contas.Categoria.Id == 2)
            {
            <tbody>
                <tr>
                    <td>contas.Codigo</td>
                    <td>contas.Descricao</td>
                    <td></td>
                </tr>
            </tbody>
            }
            }
            break;
            default:
            break;
            }*/-->
