@{
    ViewData["Title"] = "Lançamento";
}

@using (Html.BeginForm("Filtrar", "Lancamento", FormMethod.Post))
{
    <div class="fixed-top-filter p-3">
        <p>
            Empresa: @Html.DropDownList("EmpresaId", String.Empty)
            Comeprencia: @Html.DropDownList("CompetenciasId", String.Empty)
            <input type="submit" value="Enviar" />
        </p>
    </div>
}
@using (Html.BeginForm("Inserir", "Lancamento", FormMethod.Post))
{
    <!--Melhorar foreach-->
    <input type="hidden" value="@ViewBag.EmpresaSeleciodaId" name="empresa"/>
    <input type="hidden" value="@ViewBag.CompetenciasSelecionadaId" name="competencia"/>

    <div><input type="submit" value="Enviar" /></div>
    <div class="row">

        <div class="col">
            @foreach (var categoria in ViewBag.CategoriasViewModel)

            {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="3">@categoria.Descricao</th>
                    </tr>
                </thead>

                @foreach (var contas in ViewBag.ContasViewModel)
                {
                    <tbody>
                        <tr>
                            <td class="codigo">@contas.Codigo<input type="hidden" name="codigo[]" value="" /></td>
                            <td class="descricao">@contas.Descricao<input type="hidden" name="descricao[]" value="" /></td>
                            <td class="valor">

                            </td>
                        </tr>
                    </tbody>
                }
            </table>
            }
        </div>
    </div>
}