<div class="container">
    <div class="row">
        <div class="col">
            @foreach (var categoria in ((List<Categoria>)ViewBag.Categorias).Where(x => x.Id < 10))
            {
                <table class="table table-bordered">                      
                    <thead>
                        <tr>
                            <th colspan="3">@categoria.Descricao</th>
                        </tr>
                    </thead>
                    @foreach (var contas in ((List<Conta>)ViewBag.Contas).Where(c => c.CategoriaId == categoria.Id))
                    {
                        <tbody>
                            <tr>
                                <td class="codigo">@contas.Codigo</td>
                                <td>@contas.Descricao</td>
                                <td><input type="number" name="name" value="" /></td>
                            </tr>
                        </tbody>
                    }
                </table>
            }
        </div>
        <div class="col">
            @foreach (var categoria in ((List<Categoria>)ViewBag.Categorias).Where(c => c.Id >= 10 && c.Id <= 19))
            {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="3">@categoria.Descricao</th>
                    </tr>
                </thead>
                @foreach (var contas in ((List<Conta>)ViewBag.Contas).Where(c => c.CategoriaId == categoria.Id))
                {
                    @if (contas.Codigo == 36)
                    {
                        <tbody>
                            <tr>
                                <td class="codigo">@contas.Codigo</td>
                                <td>@contas.Descricao</td>
                                <td><input type="number" name="name" value="" /></td>
                            </tr>
                            <tr>
                                <td>.</td>
                                <td></td>
                                <td><input type="number" name="name" value="" /></td>
                            </tr>
                            <tr>
                                <td>.</td>
                                <td></td>
                                <td><input type="number" name="name" value="" /></td>
                            </tr>
                            <tr>
                                <td>.</td>
                                <td></td>
                                <td><input type="number" name="name" value="" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><input type="number" name="name" value="" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><input type="number" name="name" value="" /></td>
                            </tr>
                        </tbody>
                    }
                    else
                    {
                        <tbody>
                            <tr>
                                <td class="codigo">@contas.Codigo</td>
                                <td>@contas.Descricao</td>
                                <td><input type="number" name="name" value="" /></td>
                            </tr>
                            <tr>
                        </tbody>
                    }
                }
                <tbody>
                </tbody>

            </table>
            }
        </div>
        <div class="col">
            @foreach (var categoria in ((List<Categoria>)ViewBag.Categorias).Where(c => c.Id > 19))
            {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="3">@categoria.Descricao</th>
                    </tr>
                </thead>
                @foreach (var contas in ((List<Conta>)ViewBag.Contas).Where(c => c.CategoriaId == categoria.Id))
                {
                    <tbody>
                        <tr>
                            <td class="codigo">@contas.Codigo</td>
                            <td>@contas.Descricao</td>
                            <td><input type="number" name="name" value="" /></td>
                        </tr>
                    </tbody>
                }
            </table>
            }
        </div>
    </div>
</div>
