@model Demonstrativo.Models.Empresa

@{
    Layout = "_LayoutSemFiltroEmpresa";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="column">
        <dt class = "col-sm-2">
            Número da empresa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            Razão Social
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>
        <dt class = "col-sm-2">
            Nome Fantasia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apelido)
        </dd>
        <dt class = "col-sm-2">
            Cnpj
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class = "col-sm-2">
            Situação
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-plumas-w">Voltar</a>
</div>
