@model Demonstrativo.Models.LancamentoPadrao

@{
    Layout = "_LayoutSemFiltroEmpresa";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LancamentoPadrao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LancamentoHistorico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LancamentoHistorico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContaDebito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContaDebito.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContaCredito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContaCredito.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-plumas-w">Editar</a> |
    <a asp-action="Index" class="btn btn-plumas-w">Voltar</a>
</div>
