@model IEnumerable<Demonstrativo.Models.LancamentoPadrao>

@{
    Layout = "_LayoutSemFiltroEmpresa";
    ViewData["Title"] = "Lançamentos contábeis";
}

<div class="py-4 pl-3 d-flex justify-content-between">
    <h1 class="page-title">@ViewData["Title"]</h1>

    <div>
        <a class="btn btn-plumas-w btn-nav-link" asp-action="Create">
            Adicionar lançamento contábil <i class="fa fa-plus ml-2"></i>
        </a>
    </div>

</div>

<div class="row">
    <section class="col-12 border-0 table-bordered">
        <table class="w-100 mx-auto">
            <thead>
                <tr>
                    <td class="bg-categoria text-white p-2">Código</td>
                    <td class="bg-categoria text-white p-2">Descrição</td>
                    <td class="bg-categoria text-white p-2">Histórico lançamentos</td>
                    <td class="bg-categoria text-white p-2">Débito</td>
                    <td class="bg-categoria text-white p-2">Crédito</td>
                    <td class="bg-categoria text-white p-2">@Html.DisplayNameFor(model => model.Categoria)</td>
                    <td class="bg-categoria text-white p-2">@Html.DisplayNameFor(model => model.Tipo)</td>
                    <td class="bg-categoria text-white p-2">Lançamento</td>
                    <td class="bg-categoria text-white p-2">Tipo de conta</td>
                    <td class="bg-categoria text-white p-2">Ações</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LancamentoHistorico)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContaDebito.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContaCredito.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo.Descricao)
                        </td>
                        <td>
                            @Html.Raw(item.TipoLancamento == "C" ? "Calculado" : "Lançado")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoConta)
                        </td>

                        <td class="td-actions">

                            @*                            <button data-toggle="tooltip" title="Editar" asp-action="Edit" asp-route-id="@item.Id"> <i class="fa fa-edit"></i></button>
                                <button data-toggle="tooltip" title="Detalhes" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle"></i></button>
                                <button data-toggle="tooltip" title="Ecluir" asp-action="Delete" asp-route-id="@item.Id"> <i class="fa fa-trash"></i></button>
                            *@                          <button data-toggle="tooltip" title="Editar" onclick="location.href='@Url.Action("Edit", "LancamentosPadroes",new { id = item.Id })'"> <i class="fa fa-edit"></i></button>
                            <button data-toggle="tooltip" title="Detalhes" onclick="location.href='@Url.Action("Details", "LancamentosPadroes",new { id = item.Id })'"><i class="fa fa-info-circle"></i></button>
                            <button data-toggle="tooltip" title="Excluir" onclick="location.href='@Url.Action("Delete", "LancamentosPadroes",new { id = item.Id })'"> <i class="fa fa-trash"></i></button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>

