@model IEnumerable<Demonstrativo.Models.OfxBanco>

@{
    Layout = "_LayoutSemFiltroEmpresa";
    ViewData["Title"] = "Bancos";
}

<div class="py-4 pl-3 d-flex justify-content-between">
    <h1 class="page-title">@ViewData["Title"]</h1>

    <div>
         <a class="btn btn-plumas-w btn-nav-link" asp-action="Create">Adicionar Banco<i class="fa fa-plus ml-2"></i>
           
         </a>
    </div>

</div>

<div class="row ">
    <section class="col-12 border-0 table-bordered">     
      
      
             <table class="w-100 mx-auto">
                <thead>
                    <tr>
                        <td class="bg-categoria text-white p-2">@Html.DisplayNameFor(model => model.Codigo)</td>
                        <td class="bg-categoria text-white p-2" bg-categoria text-white p-2>@Html.DisplayNameFor(model => model.Nome)</td>
                        <td class="bg-categoria text-white p-2" bg-categoria text-white p-2>Ações</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.Codigo)</td>
                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                            <td class=" ">
                                <div class="d-flex justify-content-center">
                                   <button  asp-action="Edit" asp-route-id="@item.Id"> <i class="fa fa-edit"></i></button> 
                                  <button  asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle"></i></button> 
                                  
                                  <button  asp-action="Delete" asp-route-id="@item.Id"> <i class="fa fa-trash"></i></button>
                              
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
      
     
    </section>
</div>

