@model IEnumerable<Demonstrativo.Models.SaldoMensal>

@{
	Layout = "_LayoutSemFiltroEmpresa";
	ViewData["Title"] = "Saldos contas correntes";
}

<div class="py-4 pl-3 d-flex justify-content-between">
	<h1 class="page-title">@ViewData["Title"]</h1>

	<div>
		<a class="btn btn-plumas-w btn-nav-link" asp-action="Create">
			Adicionar saldo mensal <i class="fa fa-plus ml-2"></i>
		</a>
	</div>

</div>

<div class="row">
	<section class="col-12 border-0 table-bordered">
		<table class="w-100 mx-auto">
			<thead>
				<tr>
					<td class="bg-categoria text-white p-2">@Html.DisplayNameFor(model => model.Competencia)</td>
					<td class="bg-categoria text-white p-2">@Html.DisplayNameFor(model => model.Saldo)</td>
					<td class="bg-categoria text-white p-2">@Html.DisplayNameFor(model => model.ContaCorrente)</td>
					<td class="bg-categoria text-white p-2">Ações</td>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Competencia)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Saldo)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ContaCorrente.Id)
						</td>
						<td>
							<button data-toggle="tooltip" title="Editar" onclick="location.href='@Url.Action("Edit", "SaldoMensals",new { id = item.Id })'"> <i class="fa fa-edit"></i></button>
                            <button data-toggle="tooltip" title="Detalhes" onclick="location.href='@Url.Action("Details", "SaldoMensals",new { id = item.Id })'"><i class="fa fa-info-circle"></i></button>
                            <button data-toggle="tooltip" title="Excluir" onclick="location.href='@Url.Action("Delete", "SaldoMensals",new { id = item.Id })'"> <i class="fa fa-trash"></i></button>




@*							<button data-toggle="tooltip" title="Editar" asp-action="Edit" asp-route-id="@item.Id"> <i class="fa fa-edit"></i></button>
							<button data-toggle="tooltip" title="Detalhes" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle"></i></button>
							<button data-toggle="tooltip" title="Ecluir" asp-action="Delete" asp-route-id="@item.Id"> <i class="fa fa-trash"></i></button>
*@						</td>
					</tr>
				}
			</tbody>
		</table>
	</section>
</div>


