@using Demonstrativo.Models
@model OfxContaCorrenteViewModel
@{
    Layout = "_LayoutSemFiltroEmpresa";
    ViewData["Title"] = "Conta Corrente";
}


<div class="row form-lancamento mx-2">
    <div class="col-md-4 table-bordered mx-auto rounded-lg bg-light">
        <form asp-action="ContaCorrenteGravar" method="post">
            <div class="text-plumas">
                <br/>
                @ViewData["Title"]
                <br/>
            </div>
            <h4>Criar Conta Corrente</h4>
            <hr />
            <div class="form-group">
                <label>Numero</label>
                <input asp-for="@Model.NumeroConta" class="form-control" />
            </div>
            <div class="form-group">
                <label>Banco</label>
                <select asp-for="@Model.Banco" asp-items="@Model.Bancos" class="form-control">
                <option value="">Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <label>Empresa</label>
                <select asp-for="@Model.Empresa"  asp-items="@Model.Empresas" class="form-control">
                <option value="">Selecione</option>
                </select>
            </div>
            <button type="submit" class="btn btn-plumas">Gravar</button>
        </form>
        <br/>
    </div>
</div>