@model List<OfxDescricaoViewModel>
@{
    Layout = "_LayoutSemFiltroEmpresa";
    ViewData["Title"] = "Historicos";
}

<div class="row form-lancamento mx-2">
    <div class="col-md-4 table-bordered mx-auto rounded-lg bg-light">
        <form asp-action="HistoricoEditar" method="post">
            <div class="text-plumas">
                <br />
                @ViewData["Title"]
                <br />
            </div>
            <h4>Lista de HistoricoOfx</h4>
            <br />
            <a asp-action="HistoricoCriar">Create</a>
            <hr />
            <table>
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Conta Debitar</th>
                        <th>Conta Creditar</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                @foreach (var historico in Model)
                {
                    <tbody>
                        <tr>
                            <input type="hidden" value="@historico.Id" />
                            <td>@historico.Descricao</td>
                            <td>@historico.CodigoContaDebitoSelecionada</td>
                            <td>@historico.CodigoContaCreditoSelecionada</td>
                            <td>
                                <a class="btn btn-outline-primary my-2 my-sm-0 m-auto" href="@Url.Action("HistoricoEditar",new {id = historico.Id})">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </form>
        <br/>
    </div>
</div>