@using Demonstrativo.Models
@model List<ImportacaoOfxViewModel>
@{
    Layout = "_LayoutSemFiltroEmpresa";
    ViewData["Title"] = "ImportaçãoOfx";
}

<div class="row form-lancamento">
    <section class="col-md-8 table-bordered mx-auto rounded-lg bg-light">
        <div class="text-plumas">
            <br/>
            @ViewData["Title"]
            <br/>
        </div>
        <hr />
        <form asp-controller="Importacao" asp-action="Create">
            <table class="inptable mx-auto">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Data</th>
                        <th>Tipo</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>CheckSum</th>
                        <th>Conta Creditar</th>
                        <th>Conta Debitar</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var ofx in Model)
                {
                    <tr>
                        <td>@ofx.Id</td>
                        <td>@ofx.Date</td>
                        <td>@ofx.Type</td>
                        <td>@ofx.Description</td>
                        <td>@ofx.TransationValue</td>
                        <td>@ofx.CheckSum</td>
                        <td> 
                            <select asp-for="@ofx.ContasCreditoSelecionada" asp-items="@ofx.ContasCreditoContabeis" >
                                <option value="">Selecione</option>
                             </select>
                        </td>
                        <td> 
                            <select asp-for="@ofx.ContasDebitoSelecionada" asp-items="@ofx.ContasDebitoContabeis">
                                <option value="">Selecione</option>
                             </select>
                             <input type="hidden" asp-for="@ofx.HistoricoId">
                        </td>
                    </tr>   
                }
                </tbody>
            </table>
            <input type="submit"/>
        </form>
    </section>
</div>